*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1
{
    color:whitesmoke;
    text-align: center;
}
h2
{
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}
body
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    font-size:larger;
    background-color:azure;
    color:#333333;
}
header
{
    background: #222;
    color:white;
    text-align: center;
    padding: 1rem;
    top:0;
    z-index:10;
    box-shadow: 0 2px  5px rgba(0, 0, 0, 1);
}
.header .conteneer
{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo 
{
    font-size: 30px;
}
nav ul
{
    list-style:none;
    display:flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
    width:auto;
}
nav a
{
    padding: 8px 12px;
    transition: background 0.3s;
    color:whitesmoke;
    text-decoration: none;
}
nav a:hover
{
    background: #007bff;
    color:white;
    border-radius: 4px;
}
section
{
    padding:3rem 0;
    width: auto;
    height: auto;
    max-width: 900px;
    margin: auto;
}
.about p
{
    max-width: 800px;
    margin:auto;
    text-align: center;
    font-size: 1.1rem;
}
.project-grid
{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:1rem;
    width: auto;
}
.project-card
{
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.skills-list ul
{
    list-style-type: square;
    padding-left: 20px;
}
.skills-list
{
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    display: flex;
}
.skills-list li 
{
    background: #eee;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
.math
{
    text-decoration: none;
    font-style: italic;
}
.math:hover
{
    text-decoration: underline;
    color: blueviolet;
}
.math:focus
{
    color:blueviolet;
}
.algo
{
    text-decoration: none;
    font-style: italic;
}
.algo:hover
{
    text-decoration: underline;
    color:blueviolet;
}
.newton
{
    text-decoration:none;
    font-style:italic;
}
.newton:hover
{
    text-decoration:underline;
    color:blueviolet;
}
.point
{
   text-decoration:none;
   font-style:italic;
}
.point:hover
{
   text-decoration:underline;
   color:blueviolet;
}
footer
{
    text-align: center;
    padding: 1rem;
    background: #222;
    color:white;
    margin-top: 2rem;
    font-size:0.95rem;
}
@media (max-width: 480px) {
  h1 {
     font-size:1rem;
  }   
  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
  section {
      padding: 2rem 1rem;
  }
  .project-card {
      font-size:0.95rem;
  }
}
